.App {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.footer {
    background-color: gray;
    text-align: center;
    padding: 2em;
}

nav {
  padding: 1em;
}