.container {
    position: relative;
    display: flex;
    border: 1px solid white;
}

.image {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
    background-color: black;
}

span {
    transform: translateY(20%);
}

h2 {
    margin: 0;
}

.info {
    position: absolute;
    font-size: 2vw;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.info:hover {
    background-color: rgba(0,0,0,0.6);
}

.info h3 {
    display: none;
    margin: 0;
}

.info:hover h3 {
    display: inline;
}

.info p {
    display: none;
    font-size: 1.5vw;
}

.info:hover p {
    display: inline;
}

.tags {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.tags div {
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(0,0,0,0.9);
}
